
<!--Header do side menu -->
<ion-menu contentId="main-content">
  <ion-header >
    <ion-toolbar>
      <div style="display: flex;"  >
        <img src="assets/icon/logo imagen.png" alt="logo_AlmoXPert" class="logo-sidebar">
      </div>
    </ion-toolbar>
  </ion-header>
<!--conteudo do sidemenu -->
  <ion-content class="ion-padding">This is the menu content.</ion-content>


</ion-menu>


<div class="ion-page" id="main-content">
  <!--Header da pagina principal -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="text-align: center;">AlmoXpert</ion-title>
    </ion-toolbar>
  </ion-header>

<!--conteudo da pagina principal -->
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>
